<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>@ViewData["Title"] - TokenSystem</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/signalRJS.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #bodyT h3{
            font-size:5em;
        }


        blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation:    blink 1s steps(5, start) infinite;
  -o-animation:      blink 1s steps(5, start) infinite;
  animation:         blink 1s steps(5, start) infinite;
}

@@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@@-moz-keyframes blink {
  to { visibility: hidden; }
}
@@-o-keyframes blink {
  to { visibility: hidden; }
}
@@keyframes blink {
  to { visibility: hidden; }
}

    </style>
</head>
<body  class="#424242 grey darken-3">

    <div class="">
       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="center-align">

       
        <h4 class="">
            Hulhumale' Hospital, Huvandhumaahigun, Hulhumale' Tel: (960) 3350037, Fax: (960) 3350014, Email: admin@hmh.gov.mv

        </h4>
    </div>

</body>
</html>
