@model TokenSystem.Models.Operation
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <img src="~/image/Hospital-Logo.gif" class="responsive-img" style="width:10%;" />
    <span id="op" class="hide">
        @Model.Id
    </span>
</div>
<div class="row">
    <div class="col m12 #fafafa grey lighten-5" style="border:1px solid black;border-radius:15px;padding:10px;">
        <table class="table striped">
            <thead class="#212121 grey darken-4 z-depth-3">
                <tr >
                    <th class="left-align" >
                        <h2 class="white-text" style="font-weight:bolder;">
                            Room

                        </h2>
                    </th>
                    <th class="center-align">
                        <h3 class="white-text" style="font-weight:bolder">
                            Token

                        </h3>
                    </th>
                </tr>
            </thead>
            <tbody id="bodyT"  class="center-align"></tbody>
        </table>
    </div>
    @*<div class="col m6">
        <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/jL8uDJJBjMA" frameborder="0" allowfullscreen  ></iframe>

        </div>
     
    </div>*@
</div>
<audio id="myAudio">

    <source src="../sound/353206__rhodesmas__intro-01.wav" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>



<script>
    $(() => {



    })
 
    


</script>
