@model TokenSystem.Models.Operation
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <img src="~/image/Hospital-Logo.gif" class="responsive-img" style="width:10%;" />
    <span id="op" class="hide">
        @Model.Id
    </span>
</div>
<div class="">
    <div class="col m12 " style="border-radius:15px;">
        <table class="table striped">
            <thead class="#212121 grey darken-4 z-depth-3">
                <tr>
                    <th class="left-align">
                        <h2 class="white-text" style=font-weight:bolder;font-size:7em; >
                            Room

                        </h2>
                    </th>
                    <th class="center-align">
                        <h3 class="white-text" style=font-weight:bolder;font-size:7em; >
                            Token

                        </h3>
                    </th>
                </tr>
            </thead>
            <tbody id="bodyT" class="center-align"></tbody>
        </table>
    </div>
    @*<div class="col m6">
            <div class="video-container">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/jL8uDJJBjMA" frameborder="0" allowfullscreen  ></iframe>

            </div>

        </div>*@
</div>
<audio id="audio">

    <source src="~/sound/buzzer.wav" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<script>
    $(() => {



    })




</script>
